.card-label__container {
  position: absolute;
  bottom: 90px;
  right: 0;
}

.card-label__content {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0D0D0D;
  color: #fff;
  font-size: 12px;
  font-family: 'Segoe UI';
  font-weight: bold;
  height: 40px;
  padding: 0px 50px;
  border-radius: 7px 0px 0px 7px;
}

.card-label__content:hover {
    box-shadow: 0px 0px 6px 0px rgba(255,255,255,0.5);
    transform: scale(1.03);
}
